/* overflow */
.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

/* flex  */

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

/* cursor */

.cursor-pointer {
    cursor: pointer;
}

/* height & width */

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

/* typography */

.grey-text {
    color: #808080;
}